@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	font-family: 'Muli', Helvetica, Arial, sans-serif;
	font-size: 140%;
	display: flex;
	justify-content: center;
	align-items: flex-start; /* Căn giữa theo chiều dọc */
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.container {
	transform: scale(0.55); /* Thu nhỏ trang xuống còn 55% */
	transform-origin: top center; /* Đặt gốc của phép biến đổi ở giữa phía trên */
	width: 100%;
	max-width: 1200px; /* Giới hạn chiều rộng tối đa */
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
	font-family: 'Ovo', sans-serif;
}

h1 {
	font-size: 300%;
}

.button {
	background-color: #44c767;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}
.button:hover {
	background-color: #5cbf2a;
}
.button:active {
	position: relative;
	top: 1px;
}

label {
	display: block;
}

input.text {
	border-style: solid;
	font-size: 24px;
	box-shadow: 3px 2px 5px 0px rgba(42, 42, 42, .75);
	padding: 5px;
	border-width: 1px;
	border-radius: 1px;
	border-color: #363636;
	text-align: center;
}

textarea {
	border-style: solid;
	font-size: 14px;
	box-shadow: 3px 2px 5px 0px rgba(42, 42, 42, .75);
	padding: 5px;
	border-width: 1px;
	border-radius: 1px;
	border-color: #363636;
	text-align: left;
}

/* Danh sách */
ul.quicklist {
	list-style-type: none;
	text-align: left;
	margin: 0px;
	padding: 0px;
	font-size: 24px;
}
ul.quicklist li {
	padding: 0px 0px 14px 0px;
	margin: 0px 0px 14px 0px;
	border-bottom: 1px solid #ccc;
}
ul.quicklist li a {
	display: block;
	text-decoration: none;
	background-size: contain;
	padding: 12px 72px;
}
ul.quicklist li a:hover {
	background-color: #f1f1f1;
}

.image-large {
    max-width: 100%; /* Điều chỉnh kích thước tối đa của ảnh lớn hơn */
    height: auto;
}

.image-small {
    max-width: 50%; /* Điều chỉnh kích thước tối đa của ảnh nhỏ hơn */
    height: auto;
}

/* Trạng thái nút */
a.state0 {
	color: #000;
	background: #fff url("images/tick0.png") no-repeat left top;
}
a.state1, a.state0.done {
	color: #CCC;
	text-decoration: line-through !important;
	background: #fff url("images/tick1.png") no-repeat left top;
	background-size: contain;
}

#ask {
    font-size: 120%; /* Tăng kích thước chữ */
    font-weight: bold; /* In đậm chữ */
    font-style: italic; /* Giữ kiểu chữ nghiêng nếu cần */
    margin-top: 20px; /* Khoảng cách phía trên để cách xa các phần khác */
}
